@model IEnumerable<FertilityPoint.DTO.AppointmentModule.AppointmentDTO>

@{
    ViewData["Title"] = "Index";
 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">

<body>
    <div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
        <div class="content container-fluid">

            <div class="row">
                <div class="col-sm-3 col-auto">
                    <h3 class="page-title">List of Appointments</h3>
                </div>
                <div class="col-md-9">
@*                    <button type="button" class="btn btn-success btn-sm  pull-right" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus-circle"></i>  </button>
*@                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <table id="specialist" class="table table-sm">
                        <thead>
                            <tr>
                                <th>SN.</th>
                                <th>Patient Name</th>

                                <th>Appointment Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.Count() > 0)
                            {
                                int count = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>

                                        <td>@item.FullName</td>

                                        <td>
                                            @item.AppointmentDate.ToShortDateString()
                                            <span class="text-primary d-block">@item.TimeSlot</span>
                                        </td>
                                        <td>
                                            @{
                                                var status = item.Status;

                                                if (status == 0)
                                                {
                                                    <span class="pending">Pending Approval</span>
                                                }
                                                else
                                                {
                                                    <span class="disabledUser ">Completed</span>
                                                }
                                            }
                                        </td>
                                        <td class="text-end">
                                            <a class="btn btn-success btn-sm " href="#" onclick="GetSpeciality('@item.Id')" value="">Approve</a>

                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>

                    </table>


                </div>
            </div>
        </div>

    </div>


    <div class="modal fade" id="ModalApproval" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        Verify Claim
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">

                    <form class="" id="frmApproveClaimMakl">
                        <input type="hidden" name="Id" id="txtId" value="" />
                        <div class="form-group row">

                            <div class="bg-dark col-12 text-center text-white" style="width:100px;height:100px; font-size:20px;">
                                <div class="text-center">
                                    <label id="txtMemberNameApprove">   </label>
                                    @*<img src="~/Content/icons/patient-phone-icon.png" class="ui image" style="display: inline; position: relative; top: -3px;">*@

                                </div>
                                <div class="">
                                    <img src="~/Icons/patient-user-settings.png"
                                         class="img" />
                                </div>
                            </div>
                            <br />

                            <div class="col-lg-12">

                                <div class="text-dark" style="font-size:15px; font-weight:bold;">
                                    <label id="NewCreateDate"></label>
                                </div>

                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-lg-12">
                                <h6>
                                    Remarks
                                </h6>
                                <div>
                                    <textarea class="form-control" style="height:10em;" id="txtDoshComment" name="MaklComment"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer" id="divApprove">
                    <button id="btnSubmit" type="button" class="btn btn-success">Approve</button>
                </div>


            </div>
        </div>
    </div>

</body>









<style>


    .pending {
        background-color: #ffbc34;
        border-radius: 9px;
        display: block;
        height: 24px;
        margin-bottom: 0;
        position: relative;
        width: 148px;
        color: white;
        text-align: center;
    }

    .activeUser {
        background-color: #55ce63;
        border-radius: 9px;
        display: block;
        height: 24px;
        margin-bottom: 0;
        position: relative;
        width: 75px;
        color: white;
        text-align: center;
    }

    .disabledUser {
        background-color: #e0001a;
        border-radius: 9px;
        display: block;
        height: 24px;
        margin-bottom: 0;
        position: relative;
        width: 75px;
        color: white;
        text-align: center;
    }
</style>

<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#specialist').DataTable();
    });


    function GetSpeciality(e) {

        $('#ModalApproval').modal({ backdrop: 'static', keyboard: false })

        $("#ModalApproval").modal('show');

        //var id = e;

        //console.log(id);

        //$.get("/Admin/Specialities/GetById/?Id=" + id, function(data, status) {
        //    console.log(data);
        //    if (data.data == false) {
        //        alert("Does not exist");
        //    } else {

        //        $("#txtId").val(data.data.id);
        //        $("#txtName1").val(data.data.name);



        //        $('#modalSpecialityUpdate').modal({ backdrop: 'static', keyboard: false })

        //        $("#modalSpecialityUpdate").modal('show');

        //    }

        //});
    };
</script>




