@model IEnumerable<FertilityPoint.DTO.TimeSlotModule.TimeSlotDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<link href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" rel="stylesheet" />

<link href="~/dashboard/dataTables//css/dataTables.semanticui.min.css" />
<link href="~/dashboard/dataTables//css/semantic.min.css" />




<div class="page-wrapper" style="min-height: 754px;background-color: #f8f9fa;">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-7 col-auto">
                <h3 class="page-title">Time Slots</h3>

            </div>
            <div class="col-sm-5 col">
                <a href="#" class="btn btn-primary float-end mt-2" data-toggle="modal" data-target="#modalTimeSlot" data-backdrop="static" data-keyboard="false">
                    Add
                </a>

            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        @if (TempData["Error"] != null)
                        {
                            <div class="alert alert-danger" role="alert" id="error">
                                @TempData["Error"].ToString()
                            </div>
                        }
                        <table id="example" class="ui celled table table-bordered table-small" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SN.</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null && Model.Count() > 0)
                                {
                                    int count = 1;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@count</td>

                                            <td>@item.FromTime.ToString("h:mm tt")</td>

                                            <td>@item.ToTime.ToString("h:mm tt")</td>

                                            <td>@item.CreateDate.ToShortDateString()</td>

                                            <td>
                                                <a class="btn btn-sm bg-success-light" href="#" onclick="GetSpeciality('@item.Id')" value="">Edit</a>
                                                <a class="btn btn-sm bg-danger-light" href="#" onclick="DeleteRecord('@item.Id')" value="">Delete</a>
                                            </td>
                                        </tr>

                                        count++;
                                    }
                                }



                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalTimeSlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Specialities</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmTimeSlot">
                    <div class="row form-row">

                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>From</label>
                                <input type="time" class="form-control" name="FromTime" id="txtFromTime">
                            </div>
                        </div>

                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>To</label>
                                <input type="time" class="form-control" name="ToTime" id="txtToTime">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalTimeSlotUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Specialities</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmEditTimeSlot">

                    <input type="text" class="form-control" name="Id" id="txtId">

                    <div class="row form-row">
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Speciality Name</label>
                                <input type="text" class="form-control" name="Teme" id="txtTime1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnEdit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>


<style>
    .row {
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>




<script src="~/dashboard/dataTables/js/jquery-3.5.1.js"></script>
<script src="~/dashboard/dataTables/js/jquery.dataTables.min.js"></script>
<script src="~/dashboard/dataTables/js/dataTables.semanticui.min.js"></script>
<script src="~/dashboard/dataTables/js/semantic.min.js"></script>

<link href="~/SweetAlart/sweetalert.min.css" rel="stylesheet" />
<script src="~/SweetAlart/sweetalert.min.js"></script>
<script src="~/fertilitypoint/timeslot.js"></script>

<script type="text/javascript">


    $(document).ready(function() {
        var table = $('#example').DataTable({
            responsive: true
        });

        //GetPostalCodes();
    });

</script>






